<app-form-wrapper>
  <div header>
    <h1>Register</h1>
    <h6>Do you have an account? <a routerLink="/login">Login</a></h6>
  </div>

  <form form [formGroup]="registerFormGroup">
    <div class="mb-2">
      <label for="firstName" class="form-label">First Name<span>*</span></label>
      <input
        type="text"
        formControlName="firstName"
        class="form-control"
        id="firstName"
      />
      <div
        *ngIf="
          registerFormGroup.controls.firstName.invalid &&
          registerFormGroup.controls.firstName.touched
        "
        class="text-danger"
      >
        Enter your first name.
      </div>
    </div>
    <div class="mb-2">
      <label for="lastName" class="form-label">Last Name<span>*</span></label>
      <input
        type="text"
        formControlName="lastName"
        class="form-control"
        id="lastName"
      />
      <div
        *ngIf="
          registerFormGroup.controls.lastName.invalid &&
          registerFormGroup.controls.lastName.touched
        "
        class="text-danger"
      >
        Enter your last name.
      </div>
    </div>
    <div class="mb-2">
      <label for="email" class="form-label">Email address<span>*</span></label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        id="email"
      />
      <div
        *ngIf="
          registerFormGroup.controls.email.errors?.required &&
          registerFormGroup.controls.email.touched
        "
        class="text-danger"
      >
        Enter your email address.
      </div>

      <div
        *ngIf="registerFormGroup.controls.email.errors?.invalidEmail"
        class="text-danger"
      >
        {{ registerFormGroup.controls.email.errors?.invalidEmail }}
      </div>

      <div
        *ngIf="registerFormGroup.controls.email.errors?.registeredEmail"
        class="text-danger"
      >
        Email already in use.
      </div>
    </div>
    <div class="mb-2">
      <label for="password" class="form-label">Password<span>*</span></label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="password"
      />
      <div
        *ngIf="
          registerFormGroup.controls.password.invalid &&
          registerFormGroup.controls.password.touched
        "
        class="text-danger"
      >
        Enter a password.
      </div>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="register()"
      [disabled]="this.registerFormGroup.invalid"
    >
      Register
    </button>
  </form>
</app-form-wrapper>
